body {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #0d1117;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #3d444db3;
    padding-bottom: 0.3em;
}

a {
    color: #4493f8;
}

ol, ul {
    padding-left: 2em;
}

li {
    margin-top: 0.25em;
}

code {
    background-color: #656c7633;
    border-radius: 6px;
    margin: 0;
    padding: 0.2em 0.4em;
    font-size: 90%;
}